html,
body {
    font-family: 'Comfortaa', cursive;
    /* font-family: 'Raleway', sans-serif; */
    /* font-family: 'Baloo Tammudu 2', cursive; */
    margin: 0px;
}

h1 {
    color: #e8ded2;
}

h2 {
    color: #056676;
}

p {
    display: inline-block;
}

main {
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 3fr 5fr;
    grid-template-rows: 5% 35% 12.25% 17.25% 30%;
}

.left_nav {
    background-color: #5eaaa8;
    grid-row: 1/6;
    grid-column: 1/2;
    padding-top: 20%;
    text-align: center;
}

.git_img {
    width: 15%;
    padding: 40px;
}

.debug_window {
    background-color: #a3d2ca;
    border: 1px solid #056676;
    border-radius: 10px;
    height: 62%;
    margin:10px ;
    overflow: hidden;
}

#debug_window{
    text-align: center;
    height: 90%;
    overflow: auto;
}

.debug_title {
    background-color: #056676;
    color: white;
    font-size: 15px;
}

.status_bar {
    margin-top: 3px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    grid-column: 2/4;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 5fr 2fr 5fr 1fr;
}

.con_status_div {
    border-radius: 10px;
    text-align: center;
    background-color: #e77a7a;
    grid-column: 2/3;
    height: 90%;
    transition-duration: .5s;
}

#disconect_btn{
    display: none;
    color: #fff;
    width: 40px;
    position: absolute;
    margin: .29%
}

#disconect_btn:hover {
    cursor: pointer;
    pointer-events: visible;
    color: #e77a7a;
    width: 40px;
    position: absolute;
    margin: .29%
}

.con_status {
    color: white;
    margin-top: 6%;
}

.conf_exp {
    height: 100%;
    grid-column: 4/5;
}

.exp_btn {
    width: 40%;
    transition-duration: 0.3s;
    transition-property: transform;
    transform: rotate(180deg);
}

.exp_btn_dwn {
    width: 40%;
    transition-duration: 0.3s;
    transition-property: transform;
    transform: rotate(0deg);
}

.conf_div {
    border-radius: 10px;
    border: 2px solid   #056676;
    margin: 5px;
    background-color: #a3d2ca;
    text-align: center;
    display: block;
    grid-row: 2/3;
    grid-column: 2/4;   
    transition-duration: 0.4s;

}

.conf_a{
    width: 90%;
    padding-top: 20px;
    display: inline-flex;
    margin: 0px auto 0px auto;
}

.conf_b{
    width: 90%;
    padding-top: 10px;
    margin: 0px auto 0px auto;
    display: inline-flex;
}

.a{
    height: 100%;
}

select{
    background-color: #cff3ee;
    color: #056676;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    border-bottom: 2px solid #056676;
}

select:hover{
    border: 1px solid #056676;
}

.pub_div {
    border-radius: 10px;
    border: 2px solid   #056676;
    margin: 5px;
    background-color: #a3d2ca;
    padding: 10px;
    grid-row: 3/5;
    grid-column: 2/3;
    text-align: center;
    transition-duration: 0.4s;
}

.sub_div {
    border-radius: 10px;
    border: 2px solid   #056676;
    margin: 5px;
    padding: 10px;
    background-color: #a3d2ca;
    padding: 10px;
    grid-row: 5/6;
    grid-column: 2/3;
    text-align: center;
    transition-duration: 0.4s;
}

.sub_debug{
    border-radius: 10px;
    border: 2px solid   #056676;
    margin: 5px;
    background-color: #a3d2ca;
    grid-row: 3/6;
    grid-column: 3/4;
    text-align: center;
    transition-duration: 0.4s;
}

#sub_debug_window{
    text-align: center;
    height: 90%;
    overflow: auto;
}

.unsub_btn{
    display: none;
    margin-left: 50px;
}

.dwnld_btn{
    cursor: pointer;
    display: none;
    margin-top: 1rem;
    margin-left: 50px;
    position: absolute;
}

.msg_div{
    font-weight: normal;
    border: 2px solid #056676;
    border-radius: 10px;
    margin:5px auto ;
    padding: 5px;
    width: 80%;
    background-color: #cff3ee;
}

 input {
    height: 100%;
    border-radius: 5px;
    border: none;
    border-bottom: 2px solid #056676;
    color: #056676;
    background-color: #cff3ee;
    position: relative;
}

input:hover{
    border: 1px solid #056676;
}

textarea:focus, input:focus{
    outline: none;
}

.input_div {
    margin: 0px auto 0px auto;
    padding: 10px;
    position: relative;
}

#pub_topic{
    width: 50%;
}

.pub_msg{
    padding-bottom: 0px;
}

.btn-primary{
    color: #fff;
    background-color: #056676;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    transition-duration: 0.4s;
}

.btn-primary:hover{
    color: #056676;
    background-color: #fff;
    border: 1px solid #056676;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
}

.unsub_btn{
    color: #fff;
    background-color: #5eaaa8;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    transition-duration: 0.4s;
}

.unsub_btn:hover{
    color: #056676;
    background-color: #fff;
    border: 1px solid #5eaaa8;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
}

