html,
body {
    font-family: 'Comfortaa', cursive;
    /* font-family: 'Raleway', sans-serif; */
    /* font-family: 'Baloo Tammudu 2', cursive; */
    margin: 0px;
}

h1 {
    color: #e8ded2;
}

h2 {
    color: #056676;
}

p {
    display: inline-block;
}

main {
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 3fr 5fr;
    grid-template-rows: 5% 35% 12.25% 17.25% 30%;
}

.left_nav {
    background-color: #5eaaa8;
    display: grid;
    grid-row: 1/6;
    grid-column: 1/2;
    padding-top: 20%;
    text-align: center;
}

.git_img {
    width: 15%;
    padding: 10px;
}

.debug_window {
    background-color: #a3d2ca;
    border: 1px solid #056676;
    border-radius: 3%;
    height: 80%;
    margin: 10px;
    overflow: hidden;
}

#dw2, #dw4, #dw6{
    color:#056676;
}

.debug_title {
    background-color: #056676;
    color: white;
    font-size: 15px;
}

.status_bar {
    margin-top: 3px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    grid-column: 2/4;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 5fr 2fr 5fr 1fr;
}

.con_status_div {
    border-radius: 10px;
    text-align: center;
    background-color: #e77a7a;
    grid-column: 2/3;
    height: 90%;
    transition-duration: .5s;
}

.con_status {
    color: white;
    margin-top: 6%;
}

.conf_exp {
    height: 100%;
    grid-column: 4/5;
}

.exp_btn {
    width: 40%;
    transition-duration: 0.3s;
    transition-property: transform;
    transform: rotate(180deg);
}

.exp_btn_dwn {
    width: 40%;
    transition-duration: 0.3s;
    transition-property: transform;
    transform: rotate(0deg);
}

.conf_div {
    border-radius: 10px;
    border: 2px solid  rgb(133, 133, 175);
    margin: 5px;
    padding: 10px;
    background-color: rgb(153, 153, 202);
    text-align: center;
    grid-row: 2/3;
    grid-column: 2/4;
    transition-duration: .5s;
}

.pub_div {
    border-radius: 10px;
    border: 2px solid rgb(194, 186, 112);
    margin: 5px;
    padding: 10px;
    background-color: khaki;
    padding: 10px;
    grid-row: 3/5;
    grid-column: 2/3;
    text-align: center;
}

.sub_div {
    border-radius: 10px;
    border: 2px solid   #056676;
    margin: 5px;
    padding: 10px;
    background-color: #a3d2ca;
    padding: 10px;
    grid-row: 5/6;
    grid-column: 2/3;
    text-align: center;
}

.sub_debug{
    border-radius: 10px;
    border: 2px solid   #056676;
    margin: 5px;
    background-color: #a3d2ca;
    grid-row: 3/6;
    grid-column: 3/4;
    text-align: center;
}

#sub_debug_window{
    text-align: center;
    height: 90%;
    overflow: auto;
}

.unsub_btn{
    display: none;
    margin-left: 50px;
}

.msg_div{
    border: 2px solid rgb(194, 186, 112);
    border-radius: 10px;
    margin:5px auto ;
    padding: 5px;
    width: 80%;
    background-color: khaki;
}
/* .input_div {
    width: 50%;
    position: relative;
    height: 50px;
}

.input_div input {
    width: 100%;
    height: 100%;
    border: none;
    color: #056676;
    padding-top: 20px;
}

.input_div label {
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px black;
} */